@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <h3>Форма оформления покупки</h3>
        <p>Для оформления покупки заполните следующие поля:</p>
        <form method="post">
            <input type="hidden" value="@ViewBag.BookId" name="BookId" />
            <input type="hidden" name="OrderDate" value="@DateTime.Today" />
            <table>
                <tr>
                    <td>FIO:</td>
                    <td><input type="text" name="FIO" /> </td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" name="Email" /></td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>